<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Business Card</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="business-card.css">
</head>

<body>
  <div class="container">
    <div class="content">
      <div class="card">
        <div class="header gcs-4 grs-2">
          <div class="avatar">
            <img src="./images/FILE0212.jpg" alt="avatar">
          </div>
          <div class="name">Isaac Silvério</div>
          <div class="occupation">Professor TI</div>
        </div>
        <div class="phone gcs-2">
          <a href="tel:27996368476">
            <img src="images/ligar.png" alt="">
            <span>Telefone</span>
          </a>
        </div>
        <div class="whatsapp gcs-2">
          <a href="https://api.whatsapp.com/send?phone=5527996368476&text=Ol%C3%A1%20tudo%20bem%3F%20">
            <span>Whatsapp</span>
            <img src="images/whatsapp.png" alt="">
          </a>
        </div>
        <div class="email">
          <a href="mailto:isaac.acz@gmail.com">
            <img src="images/enviar.png" alt="">
          </a>
        </div>
        <div class="facebook gcs-2">
          <a href="https://www.facebook.com/isaacacz">
            <img src="images/facebook.png" alt="">
            <span>/isaacacz</span>
          </a>
        </div>
        <div class="git">
          <a href="https://github.com/isaacjs-dev">
            <img src="images/github.png" alt="">
          </a>
        </div>
        <div class="address gcs-2 grs-2 footer-left">
          <a href="https://goo.gl/maps/UjfpAeUtsatkLTS4A">
            <img src="images/mapa.png" alt="">
            <span>Endereço</span>
          </a>
        </div>
        <div class="site gcs-2 grs-2 footer-right">
          <a href="http://www.isaacjs.com/">
            <img src="images/global.png" alt="">
            <span>www.isaacjs.com</span>
          </a>
        </div>
      </div>
      <div class="info">
        <img src="./images/toque.png" alt="toque">Clique nos icones para interagir
      </div>
    </div>
  </div>
  <script src="business-card.js"></script>
</body>

</html>