<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>CNI - Cartão de Visita</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./assets/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <header>
          <div class="img-bar">
            <img src="./assets/images/blue-bar.png" alt="" />
          </div>
          <div class="content-header">
            <div class="logo">
              <img src="./assets/images/CNI-logo.svg" alt="Logo CNI" />
              <div class="bottom-bar"></div>
            </div>

            <a href="tel:27996368476" class="employees">
              <div class="bars">
                <div class="top-bar"></div>
                <div class="content-bar">
                  <img src="./assets/images/isaac-profile.jpg" alt="Profile" />
                  <span>Isaac Silvério</span>
                </div>
                <div class="bottom-bar">
                  <div class="personal-phone">
                    <i class="fas fa-phone-alt"></i>
                    <span>(27) 9.9636-8476</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </header>
        <div class="body-content">
          <div class="contacts-row-one">
            <a href="tel:2732963756" class="phone-company">
              <span>Ligar</span>
              <div class="icon">
                <i class="fas fa-phone"></i>
              </div>
            </a>
            <a
              href="https://api.whatsapp.com/send?phone=5527996368476&text=Ol%C3%A1%20tudo%20bem%3F%20"
              class="whatsapp"
            >
              <div class="icon">
                <i class="fab fa-whatsapp"></i>
              </div>
              <span>Whatsapp</span>
            </a>
          </div>
          <div class="contacts-row-two">
            <a href="mailto:luciomoro@hotmail.com" class="simple-icon">
              <div class="round-out">
                <div class="icon">
                  <i class="fas fa-envelope"></i>
                </div>
              </div>
              <span>E-mail</span>
            </a>

            <a
              href="https://www.facebook.com/cniinformatica"
              class="simple-icon"
            >
              <div class="round-out">
                <div class="icon">
                  <i class="fab fa-facebook-f"></i>
                </div>
              </div>
              <span>Facebook</span>
            </a>

            <a href="" class="simple-icon">
              <div class="round-out">
                <div class="icon">
                  <i class="fas fa-globe"></i>
                </div>
              </div>
              <span>Catálogo</span>
            </a>

            <a href="https://goo.gl/maps/BsVjhfBhqS8H8FmE9" class="simple-icon">
              <div class="round-out">
                <div class="icon">
                  <i class="fas fa-map-marked-alt"></i>
                </div>
              </div>
              <span>Endereço</span>
            </a>

            <a
              href="https://app.picpay.com/payment?type=store&hash=ZnDhs5Z3qACBDGOj"
              class="simple-icon"
            >
              <div class="round-out">
                <div class="icon">
                  <img src="./assets/images/picpay.png" alt="" />
                </div>
              </div>
              <span>PicPay</span>
            </a>
          </div>
          <div style="flex: 1px;"></div>
          <div class="info">
              <img src="./assets/images/toque.png" alt="toque">Clique nos icones para interagir
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
